:root {
    --background-color: #000000;
    --main-color: #f316b4;
    --secundary-color: 5px 42px;
    --third-color: #9b1174;
    --text-color: whitesmoke;
  }
  



body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    background-color: var(--background-color); 
}
h1{
    font-size: 1.1rem;
}





/*  


    GUIA DE NAVEGAÇÃO


*/
.logo{
    width: 150px;
    height: 150px;
    object-position: left;
}
header{
    display: flex;
    flex-direction: column;
    border: solid var(--main-color);
    text-align: center;
    text-decoration: none;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-align: center;
    font-weight: 700;
}
.link{
    color: var(--text-color);
    padding: 1%;
    text-decoration: none;
}
nav .link:nth-child(n+2):nth-child(-n+4) {
    border-left-style: solid;
}
.menu-openner{
    color: var(--text-color);
    margin-right: 15px;
    font-size: 26px;
    background-color: var(--background-color);
    padding: 5px 20px;
    border: solid 3px var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}
.menu-openner span{
    margin-right:5px;
}






/*  


    CARRINHO LATERAL


*/
aside{
    display: flex;
    flex-direction: column;
    background-color:#ffcdd2;
    width:0vw;
    height: 150vh;
    font-family:'Hepta Slab', Helvetica, Arial;
    transition:all ease .9s;
    overflow-x:hidden;
}
aside.show{
    width:35vw;
}
.cart--area{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
}
.cart--area .menu-closer{
    display: flex;
    position: absolute;
    top: 3px;
    right: 3px;
}
.cart--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.cart--item button{
    justify-items: center;
    align-content: center;
    align-self: center;
    width: 20px;
    height: 20px;
}
.cart--item--qtarea{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.cart--item img{
    width: 15vw;
    height: 15vw;
}
.cart {
    margin-bottom:20px;
}
.cart--item-nome {
    flex:1;
}
.cart--item--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.cart--totalitem {
    padding:15px 0;
    border-top:1px solid #d32f2f;
    color:#315970;
    display:flex;
    justify-content: space-between;
    font-size:15px;
}
.cart--totalitem span:first-child {
    font-weight: bold;
}
.cart--totalitem.big {
    font-size:20px;
    color:#000;
    font-weight: bold;
}
.cart--finalizar {
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:2px solid #63f77c;
    transition: all ease .2s;
}
.cart--finalizar:hover {
    background-color:#35af4a;
}





/*  


    AREA DOS PRODUTOS


*/
.letra-rosa{
    color: var(--text-color);
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    display:flex;
}
.paragrafo{
    color: var(--text-color);
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    display:flex;
}
.Conteudo{
    color: var(--text-color);
    text-align: center;
    font-weight: auto;
    font-size: 25px;
    display:flex;
}
.Coluna{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Produto-area{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.Produto-item{
    text-align: center;
    max-width:250px;
    font-family:'Hepta Slab', Helvetica, Arial;
    margin:0 auto 50px auto;
}
.Produto-item a{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}
.Produto-item--img{
    width: 20vw;
    height: 20vw;
    background-color: var(--background-color);
    border-radius: 10%;
    box-shadow:0px 10px 50px var(--third-color);
}
.Produto-item--img img{
    width:100%;
    height:auto;
}
.Produto-item--add{
    margin-top:-1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width:2vw;
    height:2vw;
    border-radius:25px;
    background-color: var(--third-color);
    color: var(--text-color);
    font-size:22px;
    cursor:pointer;
    transition:all ease .2s;
}
.Produto-item--add:hover{
    margin-top:-2vw;
    width: 4vw;
    height: 4vw;
}
.Produto-item--price{
    font-size:2rem;
    color: var(--text-color);
    margin-top:5px;
}
.Produto-item--name{
    font-size:1.3rem;
    font-weight: bold;
    color: var(--text-color);
    margin-top:5px;
}
.models{
    display: none;
}
.ProdutoWindowArea{
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.24);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}
.ProdutoWindowBody{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    height: 70vh;
    background-color:var(--background-color);
    box-shadow:0px 0px 15px var(--main-color);
    border-radius:10px;
}
.ProdutoBig{
    flex:1;
    width: 50%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ProdutoBig img{
    height: 80%;
    width: 80%;
}
.ProdutoInfo{
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
    color: var(--text-color);
}
.ProdutoInfo h1{
    margin-top:50px; 
}
.ProdutoInfo--price{
    display:flex;
    align-items:center;
}
.ProdutoInfo--actualPrice{
    font-size:28px;
    margin-right:30px;
}
.ProdutoInfo--qtarea{
    display:inline-flex;
    background-color:var(--text-color);
    border-radius:10px;
    height:30px;
}
.ProdutoInfo--qtarea button{
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.ProdutoInfo--qt{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.ProdutoInfo--addButton{
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#9b1174;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}
.ProdutoInfo--addButton:hover {
    background-color:#770e59;
}
.ProdutoInfo--cancelButton{
    display:inline-block;
    cursor:pointer;
}
.ProdutoInfo--cancelMobileButton{
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}






/*  


    BOTÃO CHATBOT


*/
footer{
    position: fixed;
    bottom: 3vw;
    right: 3vw;
}
#botao{
    display: flex;
}
#botao img{
    width: 5vh;
    height: 5vh;
    padding: 10px 10px 10px 10px;
    border: var(--third-color) solid 10px;
    background-color: #000000;
    border-radius: 40%;
}
#botao img:hover{
    width: 8vh;
    height: 8vh;
    transition: ease .3s;
}





/*  


    INTERFACE CHATBOT


*/
.chatbot_window{
    display: none;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    background-color: #000000f6;
    height: 88vh;
    width: 25vw;
    border: 3px solid var(--third-color);
    transition:all ease .3s;
}
.chatbot_bar{  
    display: flex;
    height: 25px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
p#chatbot_name{
    color: var(--third-color);
    margin-left: 5px;
    font-weight: bolder;
}
p#chatbot_exit{
    margin-right: 5px;
    cursor: pointer;
    color: red;
    font-weight: bolder;
}
.chatbot_text{
    overflow: auto;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--third-color);
    border-top: 3px solid var(--third-color);
}
.chatbot_text p{
    font-size: 1rem;
    background-color: var(--third-color);
    margin: 10px 20px 0px 20px;
    padding: 5px 10px 5px 10px;
    text-align: left;
    overflow-wrap: break-word;
}
.chatbot_input{
    height: 14%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chatbot_input input{
    outline: 1px var(--main-color);
    outline-style: groove;
    height: 80%;
    width: 90%;
}






/*  


    CÓDIGO PARA MOBILE


*/
@media (max-width:1000px) {
    .Produto-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .Produto-area {
        display:block;
    }
    .Produto-item {
        max-width:100%;
    }
    header {
        display:flex;
    }
    /*
    main {
        padding-top:60px;
    }
    */
    aside {
        width:0px;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:auto;
    }
    .ProdutoWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .ProdutoWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .ProdutoBig img {
        width: 75%;
        height: auto;
    }

    .ProdutoInfo h1 {
        margin-top:20px;
    }

    .ProdutoInfo--qtarea {
        height:60px;
    }
    
    .ProdutoInfo--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }

    .ProdutoInfo--qt {
        line-height: 60px;
        font-size:20px;
    }

    .ProdutoInfo--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .ProdutoInfo--cancelButton {
        display:none;
    }

    .ProdutoInfo--cancelMobileButton {
        display:block;
    }

}

