:root {
    --background-color: #000000;
    --main-color: #f316b4;
    --secundary-color: 5px 42px;
    --third-color: #9b1174;
    --text-color: whitesmoke;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    background-color: var(--background-color); 
}
h1{
    font-size: 1.5rem;
}
.error{
    color: var(--text-color);
    width: 100vw;
    height: 50vh;
}


/*  


    CORPO PRINCIPAL


*/
.letra-rosa{
    color: var(--text-color);
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    display:flex;
}
.Coluna{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Coluna h1{
    font-size: 4rem;
    margin-bottom: 10vh;
}
.Coluna h2{
    font-size: 2rem;
    margin-bottom: 10vh;
}






/*  


    CONTEUDO SOBRE NÓS


*/
.main_conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.conteudo{
    color: var(--text-color);
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    width: 80%;
    padding: 5%;
    margin: 5vh 0;
    border: solid 10px rgba(109, 7, 95, 0.993);
    border-radius: 10%;
    background-color: var(--third-color);
}
.conteudo p{
    margin: 20px 0;
}
.conteudo span{
    font-size: 3rem;
    margin: 50px
}






/*  


    GUIA DE NAVEGAÇÃO


*/
header{
    display: flex;
    align-items: center;
    border: solid var(--main-color);
    height: 10vh;
    min-height: 50px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
header > a{
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100%;
    width: 40%;
}
a .logo{
    height: 100%;
    object-position: left;
}
a > p{
    color: var(--main-color);
    align-self: center;
    margin-left: 10%;
    font-size: 2rem;
}
nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: var(--text-color);
    text-align: center;
    font-weight: 700;
}
.link{
    color: var(--text-color);
    padding: 1%;
    text-decoration: none;
}
nav .link:nth-child(n+2):nth-child(-n+4) {
    border-left-style: solid;
}
.menu-openner{
    color: var(--text-color);
    margin-right: 15px;
    font-size: 26px;
    background-color: var(--background-color);
    padding: 5px 20px;
    border: solid 3px var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}
.menu-openner span{
    margin-right:5px;
}






/*  


    CARRINHO LATERAL


*/
aside{
    display: flex;
    flex-direction: column;
    background-color:#6e1555;
    width:0vw;
    height: 150vh;
    font-family:'Hepta Slab', Helvetica, Arial;
    transition:all ease .9s;
    overflow-x:hidden;
    color: black;
    font-weight: bolder;
}
aside.show{
    width:35vw;
}
.blank-menu{
    display: none;
    height: 100%;
    align-items: center;
    justify-self: center;
}
.blank-menu h1{
    color: var(--text-color)
}
.cart{
    width: 100%;
    margin-bottom:20px;
}
.cart--area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    margin: 5% 0;
}

.cart--area > h1{
    color: whitesmoke;
}

aside .menu-closer{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 90%;
    width: 10%;
}
aside .menu-closer p{
    color: red;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
}
.cart--details{
    display: flex;
    flex-direction: column;
}
.cart--finalizar{
    font-size: 1.3rem;
    align-self: center;
}
.cart--item{
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: solid rgb(210, 50, 231) 1px;
}
.cart--item button{
    justify-items: center;
    align-content: center;
    align-self: center;
    width: 20px;
    height: 20px;
}
.cart--item--qtarea{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
.cart--item img{
    width: 15vw;
    height: 15vw;
}
.cart--item-nome {
    flex:1;
    margin: 10px 0 30px 0;
    color: whitesmoke;
}
.cart--item--qt {
    font-size: 1rem;
    font-weight: bolder;
    padding: 0px 10px;
    color:whitesmoke;
}
.cart--item--qtarea button {
    width: 30px;
    height: 30px;
    font-weight: bolder;
    border: solid 1px whitesmoke;
    border-radius: 30%;
    background-color:transparent;
    font-size:15px;
    cursor:pointer;
    color: whitesmoke;
    padding: 0 0 0 0;
}
.cart--totalitem {
    padding:15px 0;
    border-top:1px solid #ff3df5;
    color:whitesmoke;
    display:flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    font-size:15px;
}
.cart--totalitem span:first-child {
    font-weight: bold;
}
.cart--totalitem.big {
    font-size:20px;
    color: whitesmoke;
    font-weight: bold;
}
.cart--finalizar {
    align-items: center;
    width: 70%;
    height: 30%;
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:2px solid #63f77c;
    transition: all ease .2s;
}
.cart--finalizar:hover {
    background-color:#35af4a;
}
.compra_finalizada{
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.514);
    z-index: 150;
    inset: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.compra_finalizada_texto{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 20px #5a0d44;
    border-radius: 50px;
    background-color: var(--third-color);
    height: 30%;
    width: 50%;
}
.compra_finalizada_texto:hover{
    background-color: var(--main-color);
    border: solid 20px var(--third-color);
}
.compra_finalizada_texto > h1{
    font-size: 3rem;
}



/*  


    AREA DOS PRODUTOS


*/
.Produto-area{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.Produto-item{
    cursor: pointer;
    text-align: center;
    max-width:250px;
    font-family:'Hepta Slab', Helvetica, Arial;
    margin:0 auto 50px auto;
}
.Produto-item:hover{
    border: solid 2px var(--third-color);
    border-radius: 30px;
    padding: 2vw 2vw 2vw 2vw;
    margin-top: -2vw;
}
.Produto-item:hover .Produto-item--add{
    margin-top:-2vw;
    width: 4vw;
    height: 4vw;
}
.Produto-item a{
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}
.Produto-item--img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    box-shadow:0px 10px 50px var(--third-color);
}
.Produto-item--img img{
    height:100%;
    width:100%;
    border-radius: 30px;
}
.Produto-item--add{
    margin-top:-1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width:2vw;
    height:2vw;
    border-radius:25px;
    background-color: var(--third-color);
    color: var(--text-color);
    font-size:22px;
    cursor:pointer;
    transition:all ease .2s;
}
.Produto-item--add:hover{
    background-color: var(--main-color);
    box-shadow: 0px 0px 30px 0px var(--main-color)
}
.Produto-item--price{
    font-size:2rem;
    color: var(--text-color);
    margin-top:5px;
}
.Produto-item s{
    color: #d32f2f;
    font-size: 1.5rem;
}
.Produto-item--price2{
    font-size: 2.5rem;
    color: #35af4a;
}
.Produto-item--name{
    font-size:1.3rem;
    font-weight: bold;
    color: var(--text-color);
    margin-top:5px;
}
.models{
    display: none;
}
.ProdutoWindowArea{
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.24);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}
.ProdutoWindowBody{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    min-width: 1000px;
    height: 70vh;
    min-height: 300px;
    background-color:var(--background-color);
    box-shadow:0px 0px 15px var(--main-color);
    border-radius:10px;
}
.ProdutoBig{
    flex:1;
    width: 50%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ProdutoBig img{
    height: 80%;
    width: 80%;
}
.ProdutoInfo{
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
    color: var(--text-color);
}
.ProdutoInfo h1{
    margin: 50px 15px 0 0;
}
.ProdutoInfo--price{
    display:flex;
    align-items:center;
}
.ProdutoInfo--actualPrice{
    font-size:28px;
    margin-right:30px;
}
.ProdutoInfo--actualPrice s{
    color: #d32f2f;
    font-size: 1.5rem;
    margin-right:30px;
}
.ProdutoInfo--actualPrice2{
    font-size: 2.5rem;
    margin-right:30px;
    color:#35af4a;
}
.ProdutoInfo--qtarea{
    display:inline-flex;
    background-color:var(--text-color);
    border-radius:10px;
    height:30px;
    margin: 0 15px
}
.ProdutoInfo--qtarea button{
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.ProdutoInfo--qt{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.ProdutoInfo--addButton{
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#9b1174;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}
.ProdutoInfo--addButton:hover {
    background-color:#770e59;
}
.ProdutoInfo--cancelButton{
    display:inline-block;
    cursor:pointer;
}
.ProdutoInfo--cancelMobileButton{
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}





/*  


    FOOTER


*/
footer{
    box-shadow: 0px 20px 34px 50px #770e59;
    position: relative;
    inset: auto 0 0 0;
    height: fit-content;
    background:#770e59;
    margin-top: 20vh;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10vw 0 10vw;
    padding: 2vh 0 0 0;
}

footer div p{
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 1vh 0;
    width: 100%;
}

footer div p a{
    color: white;
    margin: 0 1vw;
    transition: 100ms;
}
footer div p a:hover{
    color: lightgray;
}

footer div img{
    height: 5vh;
    width: 5vh;
    margin: 1vh;
}

@media only screen and (max-width: 1100px) {
    .Produto-area{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    header > a{
        width: 50%;
    }
    header > nav{
        width: 50%;
    }
    .ProdutoWindowBody {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 75vw;
        min-width: 500px;
        height: 70vh;
        min-height: 300px;
        background-color: var(--background-color);
        box-shadow: 0px 0px 15px var(--main-color);
        border-radius: 10px;
        
    }
}
@media only screen and (max-width: 900px) {
    .Produto-area{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
    header > a{
        width: 50%;
    }
    .menu-openner{
        margin-left: 2vw;
    }
    .menu-openner span{
        display:none;
    }
    .ProdutoWindowBody {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 75vw;
        min-width: 500px;
        height: 70vh;
        min-height: 300px;
        background-color: var(--background-color);
        box-shadow: 0px 0px 15px var(--main-color);
        border-radius: 10px;
        
    }
    .ProdutoWindowBody h1{
        align-self: center;
        font-size: 1rem;
    }
}
@media only screen and (max-width: 600px) {
    .Produto-area{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header > a {
        width: auto;
    }
    a .logo{
        width: auto;
    }
    a > p{
        display: none;
    }
    header nav{
        right: 0;
    }
    .menu-openner{
        margin-left: 2vw;
    }
    .menu-openner span{
        display:none;
    }
    .ProdutoWindowBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        min-width: 0;
        height: 90vh;
        background-color: var(--background-color);
        box-shadow: 0px 0px 15px var(--main-color);
        border-radius: 10px;
        
    }
    .ProdutoWindowBody h1 + .ProdutoWindowBody p{
        align-self: cneter;
        align-self: center;
        font-size: 1rem;
    }
    .ProdutoInfo{
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }
    .ProdutoInfo--price{
        display: flex;
        flex-direction: column;
    }
    .ProdutoInfo--price h1 + .ProdutoInfo--price p{
        font-size: 1rem;
    }
  }